<div class="main-content app-content">
    <div class="container-fluid">
       
            <h2 class="text-center my-4">All Projects</h2>
            <div class="row">
              <div *ngFor="let project of projects" class="col-md-4 mb-3">
                <div class="card">
                  <img [src]="project.projectPhotoFilePath ? getFullFilePath(project.projectPhotoFilePath) : 'assets/default-image.jpg'" class="card-img-top" alt="{{ project.projectName }} Image">

                  <div class="card-body">
                    <h5 class="card-title">{{ project.projectName }} By iSolve</h5>
                   
                    <button (click)="viewDetails(project.id)" class="btn btn-primary">View Details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

</div>
