<div class="main-content app-content">
    <div class="container-fluid">
       
    

        <div class="profile-settings">
            <h3>Profile Settings</h3>
            <div class="settings-section">
              <div class="section-item">
                <h4>Update Profile</h4>
                <a routerLink="/profile">Edit Profile</a> |
                <a routerLink="/update-password">Update Password</a>
              </div>
              <!-- <div class="section-item">
                <h4>Organizational Settings</h4>
                <a routerLink="/edit-company-profile">Edit Company Profile</a>
              </div> -->
              <div class="section-item">
                <h4>My Point of Contact</h4>
                <a routerLink="/BDMChange-request">Update Point of Contact</a>
              </div>
              <div class="section-item">
                <h4>The Experts</h4>
                <a routerLink="/iSolve-team">iSolve Team</a>
              </div>
              <div class="section-item">
                <h4>Legal Documents</h4>
                <a routerLink="/update-company-documents">Update Company Documents</a>
              </div>
            </div>
          </div>
          
          
    </div>
</div>