
 <!--APP-CONTENT START-->
 <div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div class="">
                <h1 class="page-title fw-semibold fs-20 mb-0">Announcement</h1>
            </div>
            <div class="ms-auto pageheader-btn">
                <button type="button" class="btn btn-primary btn-wave waves-effect waves-light me-2" data-bs-toggle="offcanvas" data-bs-target="#page"> <i class="fe fe-plus mx-1 ps-4 pe-4 align-middle"></i></button>
              
            </div>
        </div>
        <!-- Page Header Close -->
      
        <!--Page Body Start-->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="page" aria-labelledby="announcementsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="announcementsLabel">Add Announcement</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- (ngSubmit)="onSubmit()" -->
                <form>
                    <div class="mb-3">
                        <label for="Date" class="form-label fw-light">Date</label>
                        <input name="Date" type="text" class="form-control" id="datepicker"
                        [(ngModel)]="model.Date">
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ActiveFrom" class="form-label fw-light">Active From</label>
                                <input name="ActiveFrom" type="text" class="form-control" id="ActiveFrom"
                                [(ngModel)]="model.ActiveFrom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ActiveTo" class="form-label fw-light">Active To</label>
                                <input name="ActiveTo" type="text" class="form-control" id="ActiveTo"
                                [(ngModel)]="model.ActiveTo">
                            </div>
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="Announcement" class="form-label fw-light">Announcement</label>
                        <textarea name="Announcement" type="text" class="form-control" id="Announcement"
                            placeholder="Enter Announcement" rows="5"  [(ngModel)]="model.Announcement"></textarea>
                    </div>
                   
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                </form>
               
            </div>
        </div>
          <!--Page Body End-->
    </div>
 </div>
  <!--APP-CONTENT END-->




