:root {
    --primary-rgb: 98, 89, 202;
}
.gradient-custom-2 {
   background: rgb(var(--primary-rgb));
    background: -webkit-linear-gradient(to right, rgba(var(--primary-rgb), 0.9), rgba(var(--primary-rgb), 0.7));
    background: linear-gradient(to right, rgba(var(--primary-rgb), 0.9), rgba(var(--primary-rgb), 0.7));
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }