.payment-plan-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}



.payment-plan-box {
  padding: 20px;
  background-color: white; /* White background for both tables */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for clearer printing */
}

.table, .payment-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white; /* White background for clear printing */
}

.table th, .table td, .payment-table td, .payment-table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center; /* Center text in both tables */
  font-size: 16px; /* Consistent font size */
}

.upper-table td, .payment-table td, .payment-table th {
  text-align: center; /* Ensure all text is centered */
}

.payment-plan-title, .project-name h1 {
  text-align: center;
}

.payment-plan-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.payment-plan-title:after {
  content: '';
  display: block;
  margin: 8px auto 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

.project-name h1 {
  font-size: 36px;
  color: #003a6b;
  margin-bottom: 5px;
}

.project-name span {
  font-size: 16px;
  color: #d91d26;
}

.footer-note {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.footer-note b {
  font-weight: bold;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: auto;
  }

  .payment-plan-container {
    padding: 20px;
    width: 100%;
   
  }

  h2, h4 {
    page-break-after: avoid;
  }

  .table, .payment-table {
    page-break-inside: auto;
  }

  .table th, .table td, .payment-table td, .payment-table th {
    page-break-inside: avoid;
  }

  img {
    width: 794px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 20px auto;
    page-break-inside: avoid;
  }

  .print-button, .check-button, .alert, .spinner-border {
    display: none;
  }
}
