<!--APP-CONTENT START-->
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div>
                <h1 class="page-title fw-semibold fs-20 mt-3 mb-0">Blocks</h1>
            </div>
            <div class="ms-auto pageheader-btn">
                <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <i class="fe fe-plus mx-1 align-middle"></i> Add Block
                </button>
            </div>
        </div>
        <!-- Page Header Close -->
<hr/>
        <!--Listing Start-->
        <div class="row mt-5">
            <div class="col-md-12">
                <table id="table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Block Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let block of blocks">
                            <td>{{ block.blockName }}</td>
                            <td>
                                <button (click)="editBlock(block.id)" title="Edit" class="btn btn-icon btn-sm btn-info-transparent rounded-pill"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                                    aria-controls="offcanvasWithBothOptions"> <i class="ri-edit-line"></i>
                                </button> 
                                &nbsp;
                                <button (click)="deleteBlock(block.id)" title="Delete" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                                    <i class="ri-delete-bin-line"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
        <!--Listing End-->

        <!-- Offcanvas component -->
        <div class="offcanvas offcanvas-end w-50" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Add Block</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
                    (click)="clearModel()"></button>
            </div>
            <div class="offcanvas-body">
                <form>
                    <div class="mb-3">
                        <label for="BlockName" class="form-label">Block Name</label>
                        <input type="text" class="form-control" id="blockName" name="BlockName"
                            [(ngModel)]="model.blockName">
                    </div>
                    <div class="mb-3">
                        <label for="SubCompanyId" class="form-label">Company</label>
                        <select name="SubCompanyId" class="form-control form-select js-example-basic-single"
                            [(ngModel)]="model.subCompID">
                            <option value="">Select Company</option>
                            <option *ngFor="let company of companies" [value]="company.id">{{ company.companyName }}
                            </option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
                </form>




            </div>
        </div>
    </div>
</div>