<!--APP-CONTENT START-->
<div class="main-content app-content">
  <div class="container-fluid">

    <!-- Page Header -->
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
      <div class="">
        <h1 class="page-title fw-semibold fs-20 mb-0">Company</h1>
      </div>
      <div class="ms-auto pageheader-btn">
        <button type="button" class="btn btn-primary btn-wave waves-effect waves-light me-2" data-bs-toggle="offcanvas"
          data-bs-target="#page"> <i class="fe fe-plus mx-1 ps-4 pe-4 align-middle"></i></button>

      </div>
    </div>
    <!-- Page Header Close -->

    <!--Listing Start-->
    <div class="row mt-5">
      <div class="col-md-12">
        <table id="table" class="table table-bordered">
          <thead>
            <tr>
              <th>Sub Company Name</th>
              <th>Employees</th>
              <th>Country</th>
              <th>Website</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subcompany of Subcompanies">
              <td>{{ subcompany.companyName }}</td>
              <td>{{ subcompany.employees }}</td>
              <td>{{ subcompany.country }}</td>
              <td>{{ subcompany.website }}</td>
              <td>
                <button (click)="editSubCompany(subcompany.id)" title="Edit"
                  class="btn btn-icon btn-sm btn-info-transparent rounded-pill" data-bs-toggle="offcanvas"
                  data-bs-target="#page" aria-controls="offcanvasWithBothOptions">
                  <i class="ri-edit-line"></i>
                </button>
                &nbsp;
                <button (click)="deleteSubCompany(subcompany.id)" title="Delete"
                  class="btn btn-icon btn-sm btn-danger-transparent rounded-pill">
                  <i class="ri-delete-bin-line"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Listing End-->


    <!--Page Body Start-->
    <div class="offcanvas offcanvas-end w-50" id="page">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-6">Add Company</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" (click)="clearModel()"></button>
      </div>
      <div class="offcanvas-body">
        <form>
          <div class="mb-3">
            <label for="CompanyName" class="form-label fw-light">Name</label>
            <input [(ngModel)]="model.companyName" name="CompanyName" type="text" class="form-control" id="CompanyName"
              placeholder="Enter company name">
          </div>
          <div class="mb-3">
            <label for="Employees" class="form-label fw-light">Employee</label>
            <select [(ngModel)]="model.employees" name="employees" class="form-control form-select">
              <option value="">Select employee</option>
            <!-- <option value="100">100</option>  -->
              <option value="10 to 20">10 to 20</option>
              <option value="20 to 30">20 to 30</option>
              <option value="30 to 40">30 to 40</option>
              <option value="40 to 50">40 to 50</option>
              <option value="50 to 60">50 to 60</option>
              <option value="60 to 70">60 to 70</option>
              <option value="70 to 80">70 to 80</option>
              <option value="80 to 90">80 to 90</option>
              <option value="90 to 100">90 to 100</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label fw-light">Country</label>
            <select name="country" [(ngModel)]="model.country" class="form-control form-select">
              <option value="India">India</option>
              <option value="America">America</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="website" class="form-label fw-light">Website</label>
            <input [(ngModel)]="model.website" name="website" type="url" class="form-control" id="website"
              placeholder="Enter web link">
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" (click)="onSubmit();">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!--Page Body End-->
  </div>
</div>
<!--APP-CONTENT END-->