/* Styling for the main content and container */
.main-content {
    padding: 20px;
  }
  
  .container-fluid {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Card styling for form container */
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
  }
  
  .card-title {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .card-body {
    padding: 20px;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-primary:disabled {
    background-color: #007bff;
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  /* Centering the submit button */
  .text-center {
    text-align: center;
  }
  

  .password-field {
    position: relative;
  }
  
  .password-field input {
    padding-right: 40px; /* Space for the toggle button */
  }
  
  .show-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #007bff;
  }
  
  .show-password-btn .fa {
    font-size: 1.2em;
  }
  
  .pass_show {
    margin-bottom: 15px;
  }